version: '3.8'

services:
  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=${PMA_HOST}
      - PMA_USER=${PMA_USER}
      - PMA_PASSWORD=${PMA_PASSWORD}

  auth_service:
    image: hirunaofficial/auth_service:v0.1.0
    build:
      context: ./auth_service/target/docker/auth_service
    ports:
      - "9090:9090"
    volumes:
      - E:/Ballerina/iwb329-team-innovatex/hotel-sync-backend/auth_service/Config.toml:/home/ballerina/Config.toml

  user_service:
    image: hirunaofficial/user_service:v0.1.0
    build:
      context: ./user_service/target/docker/user_service
    ports:
      - "9091:9091"
    volumes:
      - E:/Ballerina/iwb329-team-innovatex/hotel-sync-backend/user_service/Config.toml:/home/ballerina/Config.toml

  email_service:
    image: hirunaofficial/email_service:v0.1.0
    build:
      context: ./email_service/target/docker/email_service
    ports:
      - "9099:9099"
    volumes:
      - E:/Ballerina/iwb329-team-innovatex/hotel-sync-backend/email_service/Config.toml:/home/ballerina/Config.toml

volumes:
  mysql_data: